.body{
    background-color: grey;
    margin-top: 0px;
}

.welcome-message{
  background-color: thistle;
  text-align: center;
  margin-top: 0%;
  margin-bottom: 10px;
  border: 2px solid white;
}

.my-skills{
  background-color: lightblue;
  padding: 10px;
  border: 2px solid black;
}

.visit-country{
  background-color: lightblue;
  border: 2px solid black;
}